In [1]:
import pandas as pd

In [2]:
liste=[1,2,3,"a","b","c"]
liste

[1, 2, 3, 'a', 'b', 'c']

In [4]:
df=pd.DataFrame(liste, columns=["Veri"])
df

  Veri
0    1
1    2
2    3
3    a
4    b
5    c

In [10]:
#nump ile rastgele dizi olusturma 3x3  1 ile 100 arası rastgele
import numpy as np
veriler=np.random.randint(0,100,(3,3))
veriler

array([[ 5, 87, 42],
       [77, 91, 94],
       [31, 79, 32]])

In [11]:
#verileri data frame olarak göster
df1=pd.DataFrame(veriler)
df1

    0   1   2
0   5  87  42
1  77  91  94
2  31  79  32

In [13]:
# veileri dataframe olarak gösterin
#oluşturduğumuz bu diziyi dataframe e cevir
df1=pd.DataFrame(veriler, index=["satır1", "satır2", "satır3"], columns=["sütun1", "sütun2", "sütun3"])
df1

        sütun1  sütun2  sütun3
satır1       5      87      42
satır2      77      91      94
satır3      31      79      32

In [17]:
veriler=[["Büşra", "Ekmen", 16],["Yasemin", "Bayat", 17]]
veriler

[['Büşra', 'Ekmen', 16], ['Yasemin', 'Bayat', 17]]

In [19]:
df2=pd.DataFrame(veriler,index=["ogrenci_1", "ogrenci_2"], columns=["ad", "soyad", "yaş"])
df2

                ad  soyad  yaş
ogrenci_1    Büşra  Ekmen   16
ogrenci_2  Yasemin  Bayat   17

In [21]:
df2.info() #dataframe hakkında genel bilgi

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, ogrenci_1 to ogrenci_2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ad      2 non-null      object
 1   soyad   2 non-null      object
 2   yaş     2 non-null      int64
dtypes: int64(1), object(2)
memory usage: 64.0+ bytes

In [23]:
df.axes #dataframe satır sütun bilgileri

[RangeIndex(start=0, stop=6, step=1), Index(['Veri'], dtype='object')]

In [ ]:
df=pd.